@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    .header-top,
    .header-content {
        width: 100%;
    }

    .logo {
        font-size: 30px;
    }

    .header-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .header-content p {
        font-size: 18px;
    }

    /* main.html */
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main .container {
        width: 100%;
    }

    .main-img {
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-row {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .main-row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .main-header {
        font-size: 34px;
    }

    /* main.html */
    /* tours.html */
    .main-header{
        font-size: 28px;
    }
    .inner-page-tours-header {
        margin-bottom: 30px;
    }
    /* tours.html */
    .footer {
        text-align: center;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-widget-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer-widget-list {
        font-size: 16px;
    }

    .footer-widget-list li {
        margin-bottom: 10px;
    }

    .footer-widgets-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-widget-services {
        display: block;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-widget+.footer-widget {
        margin-left: 0px;
    }

    .footer-widget-contacts {
        margin-bottom: 0;
    }

    .footer-widgets-wrapper>* {
        width: auto;
    }

}