@media (max-width: 1199px) {
    .container {
        width: 900px;
    }

    .header {
        height: 591px;
    }

    .header-top {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-content {
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav-button {
        display: block;
        background: transparent;
        border: none;
        padding: 0;
    }

    .header-nav-list {
        display: none;
    }

    .header-title {
        font-size: 52px;
    }

    .header-scroll {
        font-size: 0;
    }

    /* main.html */
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-row {
        margin-bottom: 80px;
    }


    .main-content {
        width: 420px;
    }

    .main-img {
        width: 420px;
    }

    .main-header {
        font-size: 50px;
        line-height: 1;
    }

    .main-content-text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    /* main.html */
    /* tours.html */
    .main-header{
        font-size: 50px;
    }
    .inner-page-tours-header {
        margin-bottom: 40px;
    }
    /* .cards-wrapper{
        
    } */

    /* tours.html */
    /* footer.html */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-logo .logo {
        font-size: 30px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-widget-title {
        margin-bottom: 20px;
    }

    .footer-widget-list li:last-child {
        margin-bottom: 0px;
    }

    .footer-copyright p {
        font-size: 14px;
    }

    .footer-widget-services {
        display: none;
    }
}